*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(235, 212, 177);
    color: black;
}
header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('imgheader.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
h1{
    font-size: 40px;
    margin-bottom: 0.2em;
}
header h2{
    font-size: 2.5vw;
    margin-bottom: 30px;
    font-weight: 400;
}
.btn-scroll{
    background-color: rgb(234, 194, 101);
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 50px;
    color: black;
}
.btn-scroll:hover{
    background-color: rgb(241, 187, 87);
}
.seccion-tarjetas{
    padding: 80px 5%;
    background-color: white;
}
.titulo-tarjetas{
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 20px;
    color: black;
}
.introduccion{
    text-align: center;
    max-width: 800px;
    margin: 0 auto 40px auto;
    font-size: 1.15em;
}
.contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    max-width: 1200px;
    margin: 25px auto;
}
.tarjeta{ 
    background-color: white;
    border: black;
    box-shadow: 0 4px 15px black;
    text-align: center;
    flex: 1 1 10%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
    height: auto;
}
.tarjeta:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.tarjeta img{
    display: block;
    width: 100%;
    border-bottom: 8px solid rgb(238, 195, 115);
}
.tarjeta h3{
    font-family: 'Roboto Slab' serif;
    color: #999999;
    margin: 15px;
    font-size: 1.3em;
}
.tarjeta p{
    flex-grow: 1;
    padding: 0 2%;
    margin-bottom: 20px;
    color: #555;
    font-size: 1.1em;
}
.tarjeta a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #1E1E24;
    text-align: left;
    margin-left: 2%;
    margin-bottom: 15px;
    transition: color 0.3s;
}
.tarjeta a:hover{
    color: blue;
}
.galeria{
    display: flex;
    overflow-x: scroll;
    padding: 20px 0;
    gap: 30px;
    max-width: 100vw;
}
.galeria ::-webkit-scrollbar-thumb{
  background: rgb(238, 195, 115);
  border-radius: 4px;
}
.galeria ::-webkit-scrollbar{
    height: 8px;
}
.elemento-galeria{
    flex:  0 0 360px;
    scroll-snap-align: start;
    background-color: #1E1E24;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.2);
    border-top:  5px solid #b8860b;
    display: flex;
    flex-direction: column;
}
.elemento-galeria h3{
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #b8860b;
}
.elemento-galeria img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 4px;
}
.elemento-galeria p{
    color: antiquewhite;
    font-size: 0.9em;
    flex-grow: 1;
}
/*Estitlos columnas split*/
.contenedor-duo{
    display: flex;
    min-height: 80vh;
    width: 100%;
}
.columna-social{
    flex: 1;
    padding: 50px;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
}
.columna-social.luz{
    background-color: #f7eaca;
    color: black;
    box-shadow: 2px 0 10px black;
}
.columna-social.luz h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #b8860b;
    font-size: 2em;
    padding-bottom: 20px;
}
.lista-datos-lujo{
    list-style: none;
    padding: 20px 0;
    flex-grow: 1;
}
.lista-datos-lujo li{
    padding: 10px 0;
    border-bottom: 1px dashed rgb(142, 93, 93);
    font-family: Arial, Helvetica, sans-serif;
}
.lista-datos-lujo .fa-solid{
    color: chocolate;
    margin-right: 10px;
}
.columna-social.sombra{
    background-color: #1E1E24;
    color: white;
    border-left: 5px solid red;
}
.columna-social.sombra h3{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 2em;
    padding-bottom: 20px;
}
.lista-datos-pobreza{
    list-style: none;
    padding: 20px 0;
    flex-grow: 1;
}
.lista-datos-pobreza li{
    padding: 10px 0;
    border-bottom: 1px dashed #444;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
.lista-datos-pobreza .fa-solid{
    color: red;
    margin-right: 10px;
}
.btn-detalle{
    margin-top: auto;
    padding: 12px 25px;
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1.1em;
}
.btn-detalle.luz{
    background-color: transparent;
    border-color: #b8860b;
    color: #b8860b;
}
.btn-detalle.luz:hover{
    background-color: #815d00;
    color: black;
}
.btn-detalle.sombra{
    background-color: darkorange;
    border-color: darkgoldenrod;
    color: white;
}
.btn-detalle.sombra:hover{
    background-color: #f57c40;
}
.columna-social.sombra:hover{
    box-shadow: 0 0 30px red;
}
.columna-social.luz.aternuada{
    opacity: 0.4;
    filter: grayscale(100%);
}
.panel-modal{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    background-color: #fdfdfd;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}
.panel-modal.activo{
    transform: translateX(0);
}
.panel-contenido{
    padding: 30px;
    display: none;
    flex-grow: 1;
    overflow-y: auto;
}
.panel-contenido.activo{
    display: block;
}
.panel-contenido.luz{
    background-color: #fdfdfd;
    color: #1E1E24;
}
.panel-contenido.sombra{
    background-color: #1e1e24;
    color: #fdfdfd;
}
.panel-contenido h3{
    font-size: 1.8em;
    margin-bottom: 20px;
}
.panel-contenido.luz h3{ color: #b8860b;}
.panel-contenido.sombra h3 { color: #c0392b;}
.img-detalle {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.info-detallada p{
    margin-bottom: 15px;
    line-height: 1.5;
}
.btn-cerrar-panel {
    background-color: #c0392b;
    color: var(--color-luz);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
    width: 100%;
    transition: background-color 0.3s;
}
.acordeon-huelgas{
    max-width: 900px;
    margin: 40px auto 0 auto;
}
.elemento-acordeon{
    background-color: #1E1E24;
    margin-bottom: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 5px black;
    border-left: 5px solid red;
}
.acordeon-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-sombra);
    font-size: 1.4em;
    color: white;
    padding: 18px 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0;
}
.acordeon-titulo:hover{
    background-color: #b8860b;
}
.acordeon-titulo .fa.solid{
    color: darkgoldenrod;
    font-size: 0.8em;
    transition: transform 0.3s;
}
.acordeon-contenido{
    max-height: 0;
    overflow: hidden;
    padding: 0 25px;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    color: #fdfdfd;
}
.acordeon-contenido p{
    padding-bottom: 15px;
    font-size: 0.95em;
    line-height: 1.6;
}
.acordeon-contenido strong{
    color: #c0392b;
}
.acordeon-titulo.activo .fa-solid{
    transform: rotate(180deg);
    color: #815d00;
}
.acordeon-contenido.activo{
    max-height: 400px;
    padding: 10px 25px 25px 25px;
}
.timeline-contenedor{
    display: flex;
    overflow-x: scroll;
    padding: 50px 0;
    margin-top: 50px;
    max-width: 100vw;
    position: relative;
}
.timeline-contenedor::-webkit-scrollbar {
    height: 6px;
}
.timeline-contenedor::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #1E1E24;
    transform: translateY(-50%);
    z-index: 1;
}
.evento-timeline{
    flex: 0 0 280px;
    padding: 20px;
    margin: 0 15px;
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    transform: translateY(20px);
}
.evento-timeline:nth-child(even){
    transform: translateY(-50px);
}
.punto-linea{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-acento-sombra);
    border: 3px solid var(--color-sombra);
    z-index: 3;
}
.evento-timeline:nth-child(odd) .punto-linea{
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
}
.evento-timeline:nth-child(even) .punto-linea{
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
}
.fecha-evento{
    font-size: 2.2em;
    color: #b8860b;
    margin-bottom: 5px;
}
.titulo-evento{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}
.evento-timeline p{
    font-size: 0.9em;
    color: #555;
}
.contenedor-legado{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 50px auto;
    max-width: 1100px;
}
.tarjeta-legado{
    background-color: #f7eaca;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4) ;
    border-bottom: 5px solid #c0392b;
    text-align: center;
    flex: 1 1 30%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s , box-shadow 0.3s; 
}
.tarjeta-legado:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}
.legado-imagen{
    width: calc(100% + 50px);
    height: 200px;
    object-fit: cover;
    display: block;
    margin: -25px -25px 25px -25px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 3px solid #ddd;
}
.tarjeta-legado h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1e1e24;
    margin-bottom: 15px;
    font-size: 1.3em;

}
.tarjeta-legado p{
    flex-grow: 1;
    margin-bottom: 20px;
    color: #555;
    font-size: 0.95em;
}
.btn-ver-legado{
    background-color: red;
    color: white;
    border: none;
    padding: 12px 20px;
   border-radius: 5px;
   cursor: pointer;
   font-weight: 700;
   transition: background-color 0.3s;
   width: 100%;
   margin-top: auto;
}
.btn-ver-legado:hover{
    background-color: #c0392b;
}
/*ESTILOS FOOTER*/
.texto-legado{
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin-top: 15px;
    border-top: 1px solid #ddd;
    color: #c0392b;
    font-weight: 700;
    font-size: 0.9em;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    text-align: left;
}
.texto-legado.activo{
    max-height: 200px;
    padding: 15px 0 0 0;
}
.main-footer {
    padding: 40px 5%;
    border-top: 5px solid #b8860b; 
}
.footer-contenido {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto 30px auto;
    padding-bottom: 20px;
}
.footer-columna {
    flex: 1 1 250px; 
}
.footer-columna h4 {
    font-family: 'Playfair Display', serif;
    font-size: 1.3em;
    color: #b8860b;
    margin-bottom: 15px;
}
.footer-columna p {
    margin-bottom: 8px;
    font-size: 0.9em;
    color: #000000;
}
.footer-link {
    display: block;
    color: #000000; 
    text-decoration: none;
    margin-bottom: 10px;
    padding: 5px 0;
    transition: color 0.3s;
    font-size: 0.9em;
}
.footer-link:hover {
    color: #b8860b; 
}
.footer-link .fa-solid, .footer-link .fa-brands {
    margin-right: 8px;
    font-size: 1.1em;
}
.footer-legal {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
    font-size: 0.8em;
    color: #000000;
}